<div id="app_wrapper">
  <div class="client_index">
  <div class="main_container">
    <div style="height: auto;">
        <%=render "home/work_item_side_bar" %>
        <div id="settings_area">
        	Under Progess
      	</div>
      </div>
    </div>
  </div>
</div>