<div style="margin:0 auto;width:900px">
  <ul id="nav" class="chatboxLink-not" style="display:none;">
    <li id="chatbox_li">
      <a href="#" id="chatbox">Chats</a>
      <div id="chatboxContainer">
        <div id="chatboxTitle">Chats</div>
        <div id="chatboxBody" class="notifications">
          
        </div>
      </div>
    </li>
  </ul>
</div>
