<div class="client_index">
  <div class="main_container">
    <div data-thicklist="true" data-thicklist-remote="true" data-thicklist-headers="true" class="thicklist index_thicklist index_quote">
  		<div class="row_holder extend_to_footer" style="overflow: auto; ">
    		<h3 class="title1-font">List of Payment Invoices Paid or Mark as Paid</h3>
    		<br>
    		<br>

    		<div id="invoice_sort_time">
      		<%= render "invoice_payment"%>
    		</div>
  		</div>
		</div>
  </div>
</div>
<style type="text/css">
.index_thicklist.thicklist{
  margin-top:46px;
  padding: 5px;
}
</style>