<div class="client_index">
	<div class="main_container">
	  <div class="row">
	    <div class="col-md-6"><h3>Conversations</h3></br>
	      <div class="tabbable tabs-left">
	        <ul class="nav nav-tabs align_box_left">
	          <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
	          <li><a href="#sent" data-toggle="tab">Sentbox</a></li>
	          <li><a href="#trash" data-toggle="tab">Trash</a></li>
	        </ul>
	        <div class="tab-content">
		        <div class="tab-pane active" id="inbox">
		         	<ul>
		         		<%if !current_user.mailbox.inbox.blank?%>
		         		  <i>Inbox Message</i>
		         		  </br>
		         		  </br>
		  						<%= render collection: mailbox.inbox, partial: 'conversation' %>
								<%else%>
									<i>No Message</i>
								<%end%>
							</ul>
						</div>
		        
		        <div class="tab-pane" id="sent">
		         	<ul>
		         		<%if !current_user.mailbox.sentbox.blank?%>
		         			<i>Sent Message</i>
		         			</br>
		         			</br>
		  						<%= render collection: mailbox.sentbox, partial: 'conversation' %>
		  					<%else%>
		  						<i>No message send</i>
		  					<%end%>	
							</ul>
		        </div>
		        
		        <div class="tab-pane" id="trash">
		        	<ul>
		        		<%if !current_user.mailbox.trash.blank?%>
		        			<i>Trash Message</i>
		        			</br>
		        			</br>
		  						<%= render collection: mailbox.trash, partial: 'conversation' %>
								<%else%>
									<i>No trash message</i>
								<%end%>
							</ul>
		        </div>
	        </div>
	      </div>    
	    </div>
	  </div>
	  <hr>
		<%= link_to 'Start New Conversation', :new_conversation ,:class=>"button"%>
	</div>
</div>	

<style type="text/css">
.align_box_left{
	float: left !important;
}
ul{
	list-style: none outside none;
}
</style>