<!-- <div id="dialModal" class="reveal-modal" data-reveal>
  <p>Allow microphone usage when your browser prompts you</p>

  <div id="twilio_call_log"></div>
  <div class="row">
    <div class="large-4 columns">
      <input type="button" class="button expand" onclick="senddigits('1')" value="1"/>
    </div>
    <div class="large-4 columns">
      <input type="button" class="button expand" onclick="senddigits('2')" value="2"/>
    </div>
    <div class="large-4 columns">
      <input type="button" class="button expand" onclick="senddigits('3')" value="3"/>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('4')"  value="4"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('5')"  value="5"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('6')"  value="6"/></div>
  </div>
  <div class="row">
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('7')"  value="7"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('8')"  value="8"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('9')"  value="9"/></div>
  </div>
  <div class="row">
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('0')"  value="0"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('*')"  value="*"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('#')"  value="#"/></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="button" class="button alert radius expand" value="Hangup" onclick="hangup()"/>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div> -->



<div class="modal fade" id="dialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <p>Allow microphone usage when your browser prompts you</p>

  <div id="twilio_call_log"></div>
  <div class="row">
    <div class="large-4 columns">
      <input type="button" class="button expand" onclick="senddigits('1')" value="1"/>
    </div>
    <div class="large-4 columns">
      <input type="button" class="button expand" onclick="senddigits('2')" value="2"/>
    </div>
    <div class="large-4 columns">
      <input type="button" class="button expand" onclick="senddigits('3')" value="3"/>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('4')"  value="4"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('5')"  value="5"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('6')"  value="6"/></div>
  </div>
  <div class="row">
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('7')"  value="7"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('8')"  value="8"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('9')"  value="9"/></div>
  </div>
  <div class="row">
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('0')"  value="0"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('*')"  value="*"/></div>
    <div class="large-4 columns"><input type="button" class="button expand" onclick="senddigits('#')"  value="#"/></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="button" class="button alert radius expand" value="Hangup" onclick="hangup()"/>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>
