<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Message Display</h4>
    </div>
    <div class="modal-body">
    	<div>
        <table class="table">
          <tr>
            <td>From:</td>
            <td><%= @sms.from%></td>
          </tr>
          <tr>
            <td>To:</td>
            <td><%= @sms.to%></td>
          </tr>
          <tr>
            <td>Body:</td>
            <td><%= @sms.body%></td>
          </tr>
          <tr>
            <td>Date:</td>
            <td><%= @sms.date_created.to_date%></td>
          </tr>
        </table>	
     	</div>
    </div>
  </div>
</div>