<br>
<div class="client_index">
  <div class="main_container">
<div id="page-layout">
  <br>


  <h1 class="text-center">Edit number</h1>

  <%= render 'form' %>

  <%= link_to '<< Back', numbers_path , :class => "tiny success radius button text-center" %>

</div>
</div>
</div>
<br>
<br>