<div class="client_index">
	<div class="main_container">
		<%= render "clients/error_message_and_flash" %>
		  <h4 class="title2-font"><%= fetch_client_name(params) %></h4>
		<%= render 'form' %>
	</div>
</div>
