 <hr style="border: 1px solid #ccc ">
  <div class="row">
    <div class="span3">
      <b for="work_configuration_invoice_default_email_message">Team Email#1</b>
    </div>  
    <div class="span6 notification_align">
      <%= f.text_area :team_email,:value=>@notification.team_email ,:rows=>"10",:style=>"width: 100%;"%>

    </div> 
  </div> 
<hr style="border: 1px solid #ccc ">
   <div class="row">
    <div class="span3">
      <b for="work_configuration_invoice_default_email_message">Team SMS#1</b>
    </div>  
    <div class="span6 notification_align">
      <%= f.text_area :team_sms,:value=>@notification.team_sms,:rows=>"10",:style=>"width: 100%;"%>

 </div> 
</div> 
  <hr style="border: 1px solid #ccc ">




 <div class="row">
    <div class="span3">
      <b for="work_configuration_invoice_default_email_message">Customer Email#1</b>
    </div>  
    <div class="span6 notification_align">
      <%= f.text_area :client_email,:value=>@notification.client_email,:rows=>"10",:style=>"width: 100%;"%>

    </div> 
  </div> 
<hr style="border: 1px solid #ccc ">
 <div class="row">
    <div class="span3">
      <b for="work_configuration_invoice_default_email_message">Customer SMS#1</b>
    </div>  
    <div class="span6 notification_align">
      <%= f.text_area :client_sms,:value=>@notification.client_sms,:rows=>"10",:style=>"width: 100%;"%>

    </div> 
  </div> 