<div id="app_wrapper">
	<div class="client_index">
		<div class="main_container">
			<div style="height: auto;">
				<div>
					<%=render "home/work_item_side_bar" %>
					<div id="settings_area">
						<%= link_to "Add Notification",new_notification_path,:class=>"button_new_index"%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>