
<div class="modal fade" id="delete_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header new-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title new-body" id="myModalLabel">Property Delete Confirmation</h4>
      </div>
      <div class="modal-body">  
        <div class="confirm_delete">
          <h3>Property Delete Confirmation</h3>

          <h4>Are you absolutely sure you want to delete this Property?</h4>

          <p>By deleting this Property, you will also be deleting all of its Estimate, jobs and their associated estimate and price figures.</p>

          Note that CopperService's reporting will no longer take these items into account, which could potentially
          skew your report figures.
          <br>
          <br>

          <a rel="nofollow" href="/properties/<%=@property.id%>?confirm_destroy=true" data-method="delete" class="button remove">I Understand, Delete This Property</a>
          <a class="button cancel pull-right" href="#" data-dismiss="modal">Cancel</a>
        </div>     
      </div>
    </div>
  </div>
 </div>