<h2>Work Orders
  <div class="dropdown" style="float: right;">
    <%if current_user.user_type=="user"%>
      <%if set_view_permission_readwritedelete(@team_member.permission.permission_quotes)!="read"%>
        <a data-toggle="dropdown" href="#" class="dropdown_button save-new-btn1">New <b class="caret" id="caret"></b></a>
        <ul class="dropdown-menu edit_drop_menu" role="menu"><span class="arrow_tab"></span>
         
          <li>
            <i class="fa fa-quote-left"></i>
            <a href="/quotes/new?property_id=<%=@property.id%>">New Estimate</a>
          </li>
      
          <li>
            <i class="fa fa-legal"></i>
            <a href="/jobs/new?property_id=<%=@property.id%>" style="width: 79!important;">New Work Order</a>
          </li>
        </ul>
      <%end%>
    <%else%>
      <a data-toggle="dropdown" href="#" class="dropdown_button save-new-btn1" >New <b class="caret" id="caret"></b></a>
      <ul class="dropdown-menu edit_drop_menu" role="menu"><span class="arrow_tab"></span>
   
          <li>
            <i class="fa fa-quote-left"></i>
            <a href="/quotes/new?property_id=<%=@property.id%>">New Estimate</a>
          </li>
          <li>
            <i class="fa fa-legal"></i>
            <a href="/jobs/new?property_id=<%=@property.id%>">New Work Order</a>
          </li>
       
      </ul>
    <%end%>    
  </div>
  <div class="tab_selector ">
    <a id="tab_active_work" class="selected" href="#tab1" data-onclick-switch-tabs="#active_work" data-container=".fieldset" onclick="$('.tab_selector a').removeClass('selected'); $(this).addClass('selected'); ">Active Work</a>
      <%if current_user.user_type=="user"%>
        <%if set_view_permission_for_work_client_property(@team_member.permission.permission_quotes)%>
          <a id="tab_client_quotes" class="" href="#tab2" data-onclick-switch-tabs="#client_quotes" data-container=".fieldset" onclick="$('.tab_selector a').removeClass('selected'); $(this).addClass('selected'); ">Estimate</a>
        <%end%>
      <%else%>
        <a id="tab_client_quotes" class="" href="#tab2" data-onclick-switch-tabs="#client_quotes" data-container=".fieldset" onclick="$('.tab_selector a').removeClass('selected'); $(this).addClass('selected'); ">Estimate</a>
      <%end%>  
      <%if current_user.user_type=="user"%>
        <%if set_view_permission_for_work_client_property(@team_member.permission.permission_jobs)%>
          <a id="tab_client_work_orders" class="" href="#tab3" data-onclick-switch-tabs="#client_work_orders" data-container=".fieldset" onclick="$('.tab_selector a').removeClass('selected'); $(this).addClass('selected'); ">Work Orders</a>
        <%end%> 
      <%else%>
        <a id="tab_client_work_orders" class="" href="#tab3" data-onclick-switch-tabs="#client_work_orders" data-container=".fieldset" onclick="$('.tab_selector a').removeClass('selected'); $(this).addClass('selected'); ">Work Orders</a>
      <%end%>   
  </div>
</h2>