<!-- 


<%#if params[:work]=="work"%>
	Back to : <%#= link_to 'Work_overview', work_path,:style=>"color=#B87333;" %>  
<%#elsif params[:id]=="quote"%>
	  <h5 style="width: 14%;  font-weight: normal;"> Back to:  <%#= link_to 'Quotes>', quotes_path ,:style=>"text-decoration: -moz-anchor-decoration;"%></h5>
<%#elsif params[:id]=="job"%>
	<h5 style="width: 14%; font-weight: normal;"> Back to:  <%#= link_to 'Jobs>', jobs_path ,:style=>"text-decoration: -moz-anchor-decoration;"%></h5>
<%#elsif params[:id]=="invoice"%>
 <h5 style="width: 14%;  font-weight: normal;"> Back to:  <%#= link_to 'Invoices>', invoices_path ,:style=>"text-decoration: -moz-anchor-decoration;"%></h5>

<%#elsif params[:id]=="property"%>
 <h5 style="width: 14%; font-weight: normal;"> Back to:  <%#= link_to 'properties>', properties_path ,:style=>"text-decoration: -moz-anchor-decoration;"%></h5>

<%#else%>
 <h5 style="width: 14%;  font-weight: normal;"> Back to:  <%#= link_to 'Customers>', clients_path ,:style=>"text-decoration: -moz-anchor-decoration;"%></h5>
	
<%#end%> -->