<div class="modal fade" id="job_model_open" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static" data-keyboard="false" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header new-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Work Order</h4>
      </div>
      <div class="modal-body">
        <div id="client_selector">
         <p> Which Customer would you like to use for this Work Order? </p>
          <%= text_field_tag :search, nil, :class=>"form-control search_input",:placeholder=>"Search Clients...",:require=>true,:id=>"search_input_job_client_model",:style=>"width: 48%;",:onkeyup => "searchClientJobModel($(this).val())" %>
            <span class="or">or</span>
          
           <%= link_to 'Create New Customer', new_client_path(:id=>"job"),:class=>"button_new_create save-new-btn1" ,:style=>"float:right;"%><br/><br/>
           </div>
          <h4>Some Recently Used Customers:</h4>
          <br/>
          <ul class="thicklist"  id="client_list_display"> 
            <%= render "jobs/search_client_job"%>
          </ul>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>