<div id="column_selector_model" class=" modal fade column_selector_model click_focus" tabindex="-1" role="tool-tip" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
	<label>
		<input type="checkbox" checked="checked" name="name"> Name
	</label>
	<label>
		<input type="checkbox" checked="checked" name="quote_qty"> Estimate Qty
	</label>
	<label>
		<input type="checkbox" checked="checked" name="quot_doller"> Estimate $
	</label>
	<label>
		<input type="checkbox" checked="checked" name="on_job_qty"> On Work Orders Qty
	</label>
	<label>
		<input type="checkbox" checked="checked" name="on_job_doller"> On Work Orders $
	</label>
	<label>
		<input type="checkbox" checked="checked" name="invoice_qty"> Invoiced Qty
	</label>
	<label>
		<input type="checkbox" checked="checked" name="invoiced_doller"> Invoiced $
	</label>
</div>