<div class="dahboard-next-btn">
  <div class="col-md-6 no-paddings">
    <div class='box-content1'>
    <div class='button'>
      <a href='/clients/new'>
        <div class='icon-group'></div>Customer
      </a>
    </div>
  </div>
  </div>
   <div class="col-md-6 no-paddings">
    <div class='box-content1'>
    <div class='button'>
      <a id="new_quote" href="#" data-toggle="modal" data-target=".client_select_model_quote">
        <div class='icon-quote-left'></div>Estimate
      </a>
    </div>
  </div>
 </div> 
</div>
 <div class="dahboard-next-btn">
  <div class="col-md-6 no-paddings">
     <div class='box-content1'>
    <div class='button'>
      <a href='#' class="has_icon click_ignore" data-toggle="modal" data-target="#job_model_open">
        <div class='icon-legal'></div>Work Order
      </a>
    </div>
  </div>
  </div>
   <div class="col-md-6 no-paddings">
    <div class='box-content1'>
    <div class='button'>
      <a id="new_invoice" href="#" data-toggle="modal" data-target="#invoiceModal">
        <div class='icon-edit'></div>Invoice
      </a>
    </div>
  </div>
 </div> 
</div>
<div class="dahboard-next-btn">
  <div class="col-md-6 no-paddings">
     <div class='box-content1'>
    <div class='button'>
      <!-- ####added data-target modal to show today work#### -->
      <a href="#" data-toggle="modal" data-target="#today_work">
        <div class=' icon-user-md '></div> Today
      </a>
    </div>
  </div>
  </div>
   <div class="col-md-6 no-paddings">
    <div class='box-content1'>
      <div class='button'>
        <a  href="#" data-toggle="modal" data-target="#work_load">
          <div class='icon-edit'></div> Actions
        </a>
      </div>
    </div>
 </div> 
</div>



  
<style type="text/css">
.no-paddings{
  padding: 0px;
}
.dahboard-next-btn .button{
  display: block;
  width: 77%;

}
.dahboard-next-btn .box-content1{
  width:100%;
}
.dahboard-next-btn{
  overflow-y: auto;
  padding: 22px 0;
}


</style>
