<ul class="top-tabs"> 
  <%if current_user.setup_complete == false && current_user.user_type == "admin"%>
    <div class="block setup-progress">
      <div class="progress-steps">
        <% if current_user.demo_active ==true %> 
          <div style="z-index:11;" class="first-step complete">
            <a href="/clients/demo_deactive" data-confirm="Are you sure delete demo data?">1. Delete Demo Data</a>
        <%else%>
          <div style="z-index:11;" class="first-step complete present-val">
            <a href="" onclick="return false">1. Delete Demo Data</a>
        <%end%>   
          </div>

        <% if current_user.company.blank? %> 
          <div style="z-index:10;" class="step complete">
        <%else%>
          <div style="z-index:10;" class="step complete present-val">
        <%end%>  
            <a href="/work_configuration/edit">2. Company Info</a>
          </div>

        <% if current_user.clients.blank? %>   
          <div style="z-index: 9;" class="step complete">
        <%else%>
          <div style="z-index: 9;" class="step complete present-val">
        <%end%>
            <a href="/clients/new">3. Add Customer</a>
          </div>

        <% if current_user.team_members.blank? %>   
          <div style="z-index:8;" class="step complete">
        <%else%>
          <div style="z-index:8;" class="step complete present-val">
        <%end%>    
            <a href="/home/users/new">4. Add Member</a>
          </div>

        <% if current_user.general_info.blank? %>  
          <div style="z-index:7;" class="step complete">
        <%else%>
          <div style="z-index:7;" class="step complete present-val">
        <%end%>  
            <a href="/accounts/edit">5. Regional Info</a>
          </div>

        <% if current_user.service_products.blank? %>  
          <div style="z-index:6;" class="step complete">
        <%else%>    
          <div style="z-index:6;" class="step complete present-val">
        <%end%>    
            <a href="/work_items">6. Add services</a>
          </div>
       
        <div style="z-index:4;" class="last-step complete present-val">
          <a href="/setup_complete">Setup Complete!</a>
        </div>
      </div>
    </div>
  <%end%>
<div class='box-content1 col-md-12 no-padding'id="weather_address_data">
  <% @w_api = Wunderground.new("bd8736ce0e6cc2de")%>
  <div class='button weather-btn'>
    <div class="align-center padding-10">
      <i class="fa fa-cog fa-spin"></i>
        Loading data...
    </div>
    <%#if ((!current_user.city.blank?) && (!current_user.street.blank?))%>
      <%#= render "home/weather_address"%>  
    <%#else%>
      <%#= render "home/weather_ip"%>  
    <%#end%>
  </div>
</div>
