<div class="blog container">
                <h2 class="title bck">Blog</h2>
                <div class="row">
                    <div id="blog-list" class="blog-list section col-md-8 col-sm-8 col-xs-12">
                        <article class="post">
                            <div class="post-thumb">
                                <img class="img-responsive" src="assets/1.jpg" alt="" />
                            </div><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="single.html">How to Configure Gmail Forwarding to PoolPath</a></h3>
                                <div class="meta">
                                    <ul class="meta-list list-inline">                                       
                                        <li class="post-time post_date date updated">4th June, 2015</li>
                                        <li class="post-author"> by <a href="#">Admin</a></li>
                                    </ul><!--//meta-list-->                           	
                                </div><!--meta-->
                                <div class="post-entry">
                                    <p>A popular request our support gets is on the topic of how to automatically forward emails from Gmail to PoolPath.com. Below is a step-by-step instruction on how to do gmail forwarding. With this setup you continue to operate your gmail and at the same time forward emails to PoolPath so that the attachments are saved to your pre-configured cloud storage folder.</p>
                                    <a class="read-more" href="single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </article><!--//post-->

                        <!--//post-->

                        <article class="post">
                            <div class="post-thumb">
                                <img class="img-responsive" src="assets/2.jpg" alt="" />
                            </div><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="single-2.html">How to Configure Cpanel for PoolPath</a></h3>
                                <div class="meta">
                                    <ul class="meta-list list-inline">                                       
                                        <li class="post-time post_date date updated">22th April, 2015</li>
                                        <li class="post-author"> by <a href="#">Admin</a></li>
                                    </ul><!--//meta-list-->                           	
                                </div><!--meta-->
                                <div class="post-entry">
                                    <p>The cPanel web-based control panel is provided my many ISP hosting providers and used by many individual and small business owners to access their email.  With this setup you continue to operate your cPanelemail  andat the same time forward emails to PoolPath so that the attachments are saved to your configured cloud storage folder.</p>
                                    <a class="read-more" href="single-2.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </article><!--//post-->

                        <article class="post">
                            <div class="post-thumb">
                                <img class="img-responsive" src="assets/3.jpg" alt="" />
                            </div><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="single-3.html">How to Configure MS Outlook for PoolPath</a></h3>
                                <div class="meta">
                                    <ul class="meta-list list-inline">                                       
                                        <li class="post-time post_date date updated">12th January, 2015</li>
                                        <li class="post-author"> by <a href="#">Admin</a></li>
                                    </ul><!--//meta-list-->                           	
                                </div><!--meta-->
                                <div class="post-entry">
                                    <p>Using a forwarding rule in Outlook, you could forward a copy of incoming emails to your PoolPath email to save attachments to your cloud folder already created under PoolPath dashboard.Any received e-mail messages that match conditions specified in the rule can be forwarded or redirected to another e-mail account. A copy of the message you received is left in your Inbox or in the folder to which the message was originally delivered</p>
                                    <a class="read-more" href="single-3.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </article><!--//post-->

                        <!--<article class="post">
                            <div class="post-thumb">
                                <img class="img-responsive" src="assets/images/posts/post-5.jpg" alt="" />
                            </div>
                            <div class="content">
                                <h3 class="post-title"><a href="single.html">Aenean erat lorem, molestie non ornare eu</a></h3>
                                <div class="meta">
                                    <ul class="meta-list list-inline">                                       
                                            <li class="post-time post_date date updated">3th April, 2014</li>
                                            <li class="post-author"> by <a href="#">Admin</a></li>
                                    </ul>                         	
                                </div>
                                <div class="post-entry">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                                <a class="read-more" href="single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </article>--><!--//post-->
                        <!--//pagination-->
                    </div><!--//blog-list-->

                    <aside id="blog-sidebar" class="blog-sidebar col-md-3 col-sm-4 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">

                        <section class="widget recent-posts">
                            <h3 class="title">Recent Posts</h3>
                            <li><a href="single.html#Configure">How to Configure Gmail Forwarding to PoolPath</a><br /><span class="date">4 June 2015</span></li>
                            <li><a href="single-2.html#Cpanel">How to Configure Cpanel for PoolPath</a><br /><span class="date">22 April 2015</span></li>
                            <li><a href="single-3.html#Outlook">How to Configure MS Outlook for PoolPath</a><br /><span class="date">12 January 2015</span></li>
                        </section><!--//widget-->
                    </aside><!--//blog-side-bar-->               
                </div><!--//row-->
            </div>