<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="assets/plugins/gmaps/gmaps.js"></script>  
<script type="text/javascript" src="assets/js/map.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<section id="contact-main" class="contact-main section">
    <div class="container text-center">
        <div class="row">
            <h1 style="text-align:left;">Contact Us</h1>
            <!--<h4 style="text-align:left; margin-bottom:15px;">For fast response, please use the following forms to reach us!!</h4>-->
            <div class="item col-md-5 col-sm-12 col-xs-12" style="padding:0px !important; margin:0px auto !important; float:none;">
                <form class="login-form">
                    <h4 style="text-align:left;">For faster response, please use the form below!!</h4>               
                    <div class="form-group email_milan">
                        <label class="sr-only" for="login-email">Your email</label>
                        <input id="login-email"  style="padding-left:10px;" type="email" class="form-control login-email" placeholder="Your email*">
                    </div><!--//form-group-->

                    <div class="form-group email_milan">
                        <input id="login-email" style="padding-left:10px;" class="form-control login-email" placeholder="Phone Number">
                    </div><!--//form-group-->

                    <div class="form-group email_milan">
                        <select id="login-email"  style="padding-left:10px;" class="form-control login-email">
                            <option>What's this about?</option>
                            <option>Sales</option>
                            <option>Support</option>
                            <option>Partnerships</option>
                        </select>
                    </div><!--//form-group-->

                    <!--<div class="form-group email_milan">
                        <select id="login-email"   style="padding-left:10px;"class="form-control login-email">
                                <option>Select Issue Category</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                        </select>
                    </div>--><!--//form-group-->

                    <div class="form-group password_milan">
                        <label class="sr-only" for="login-password">What Do You Need Help With? Brief Title</label>
                        <input type="text"  style="padding-left:10px;" class="form-control login-password" placeholder="What Do You Need Help With?">
                    </div><!--//form-group-->

                    <div class="fdgdfgdf">
                        <h4 style="text-align:left;">Description</h4>
                        <textarea name="area1" cols="60" style="width: 100%; min-height: 100px;"></textarea>
                    </div><!--//form-group-->

                    <div class="fdgdfgdf" style="padding-bottom: 10px;">
                        <h4 style="text-align:left;">Attach File</h4>
                        <input type="file">
                    </div><!--//form-group-->

                    <a href="mailto:support@PoolPath.net" type="submit" class="btn btn-block btn-cta-primary">Submit</a>
                </form>
            </div>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//need help--> 


<!-- ******CONTACT MAIN****** --> 
<section id="contact-main" class="contact-main section" style="padding-top:30px;">
    <div class="container text-center">


        <div class="row">
            <div class="item col-md-6 col-sm-12 col-xs-12" style="padding:0px !important;">
                <div class="item-inner add" style="margin-right: 5px;">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>                            </div>
                    <div class="details">
                        <h4>Email</h4>
                        <p style="font-size:14px;"><a href="mailto:support@PoolPath.net">support@PoolPath.net</a></p>

                    </div><!--details-->
                </div><!--//item-inner-->
                <div class="item-inner add" style="margin-left: 5px;">
                    <div class="icon">
                        <i class="fa fa-phone"></i>                            </div>
                    <div class="details">
                        <h4>Call us on:</h4>
                        <p class="small">916-596-4200</p>
                        <p class="day">9am-5pm PT M-F</p>
                    </div><!--details-->
                </div><!--//item-inner-->

                <div class="item-inner add" style="margin-left: 10px;">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>                            </div>
                    <div class="details">
                        <h4>Find us at:</h4>
                        <p class="small">717 K Street Sacramento, CA 95814</p>
                    </div><!--details-->
                </div>

            </div><!--//item-->
            <div class="item col-md-6 col-sm-12 col-xs-12">
                <div id="map"  style="pointer-events:none">

                </div><!--//row-->
            </div><!--//item-->

        </div><!--//row-->
    </div><!--//container-->
</section>