<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div style="position:absolute;top:45%;right:20%;z-index:99;"><button type="button" style="background:transparent;border:transparent;outline:none;" class="play-trigger" data-toggle="modal" data-target="#tour-video"><img src="assets/video.png" style="width:65px;height:65px;" class=""></button></div>
        <div style="position:absolute;top:64%;right:19%;z-index:99;font-family: 'PT Sans Caption', sans-serif; color:#000; font-size:12px;">Overview | Video</div>
        <div class="carousel-inner" role="listbox">
            <div class="item active ">
                <img src="assets/2222new.jpg" alt="Second slide">

                <div class="container intro">
                    <div class="col-md-12 MYcarousel-caption">
                        <div align="center"> <p class="title" style="font-family: 'PT Sans Caption', sans-serif; color:#000; margin-bottom:4px; margin-top:4px; font-size:38px;">
                                All-in-one Software for Pool Service Professionals</p>
                            <br>
                        </div>
                        <div class="sliderINTO" style="margin-left: 120px">
                            <p><span>Chemicals:</span>&nbsp;&nbsp;Track test results & dosage. Manage inventory.</p>
                            <p><span>Plan Builder:</span>&nbsp;&nbsp;Create Service Plans and work flows.</p>
                            <p><span>Billing:</span>&nbsp;&nbsp;Accept Credit Cards – No Merchant Account Needed.</p>
                            <p><span>Manage Ads:</span>&nbsp;&nbsp;Manage your craigslist ads & others.</p>
                            <p><span>Lead Generation:</span>&nbsp;&nbsp;Leads via Google Maps, Emails and Ads</p>
                            <p><span>Call Manager:</span>&nbsp;&nbsp;Auto Attendant & Service number for your business. </p>

                        </div>
                        <br>
                        <div align="center"> <p class="small_summ" style="margin-bottom: -5px; text-align: center;width: 100%;">Scheduling | Estimates | Work Orders | Invoicing | Payments | GPS | Notifications | Route Optimization | Fleet Management</p></div>


                    </div>
                </div><!--//intro-->
            </div>
        </div>
</div><!-- /.carousel -->
    <!--//promo-->

    <!-- ******PRESS****** --> 
    <div class="blur_box">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>-->
                <!-----1------>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="blur_image">
                        <h4>NOTIFIES TO</h4>
                        <ul class="sub">
                            <li><a href="#"><img src="assets/NOTIFIES1.jpg" data-pin-nopin="true"></a></li>
                            <li><a href="#"><img src="assets/NOTIFIES2.jpg" data-pin-nopin="true"></a></li>
                            <li><a href="#"><img src="assets/NOTIFIES3.jpg" data-pin-nopin="true"></a></li>
                        </ul>
                    </div>
                </div>
                <!------2----->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="blur_image">
                        <h4 class="text-uppercase">Backsup to</h4>
                        <ul class="sub">
                            <li><a href="#"><img src="assets/BACKSUP1.png" data-pin-nopin="true"></a></li>
                        </ul>
                    </div>
                </div>
                <!-------3------>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="blur_image">
                        <h4 class="text-uppercase">Export to</h4>
                        <ul class="sub">
                            <li><a href="#"><img src="assets/EXPORTS1.png"></a></li>
                            <li><a href="#"><img src="assets/EXPORTS2.png"></a></li>
                        </ul>
                    </div>
                </div>
                <!------------->
            </div>
        </div>
    </div>
    <!-- ******WHY****** --> 
    <section id="why" class="why section">
        <div class="container">
            <h2 class="title text-center bck">SIMPLIFY YOUR POOL SERVICE BUSINESS.</h2>
            <div class="pad-top"></div>
            <div class="row">
                <div class="benefits col-md-4 col-sm-6 col-xs-12">    
                    <div class="item clearfix">                            
                        <div class="icon col-md-3 col-xs-12 text-center">
                            <i class="fa fa-bars"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">POOL TEST RESULTS</h3>
                            <p class="desc">Record pool test results each visit such as Total Hardness, Total & Free Chlorine, Total Bromine, pH, and Total Alkalinity.</p>
                        </div><!--//content-->                            
                    </div><!--//item-->
                    <div class="item clearfix">
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-building-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">POOL FILTER CLEANING</h3>
                            <p class="desc">Field tech can see the dates of filter cleaning. Know when you last cleaned a filter and when it scheduled next time.</p>
                        </div><!--//content-->
                    </div><!--//item-->
                </div> 

                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 
                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-barcode"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">CHEMICAL INVENTORY</h3>
                            <p class="desc">You can record and access chemicals used on every customer visit and your warehouse inventory levels. </p>
                        </div><!--//content-->
                    </div><!--//item-->
                    <div class="item clearfix">
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-file-text"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">POOL EQUIPMENT TRACKING</h3>
                            <p class="desc">Maintain detailed pool equipment list such as Pool Type Chlorine or Salt, motor type and filter type DE, Sand or Catridge.</p>
                        </div><!--//content-->
                    </div><!--//item-->

                </div> 

                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 

                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-list-ol"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">POOL CHEMICAL USAGE</h3>
                            <p class="desc">Notifications via SMS, Evernote, Trello and email. Be on the top of your projects; know when your documents arrive!!</p>
                        </div><!--//content-->
                    </div><!--//item-->

                    <div class="item clearfix">                            
                        <div class="icon col-md-3 col-xs-12 text-center">
                            <i class="fa fa-money"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">SERVICE PLAN BUILDER</h3>
                            <p class="desc">Service plan builders interagates necessary tasks need for your field technician as workflow automatically.</p>
                        </div><!--//content-->                            
                    </div><!--//item-->



                </div>                                       
            </div><!--//row-->
        </div><!--//container-->

        <div class="pad-top"></div>

        <div class="container">
            <h2 class="title text-center bck">ALL FEATURES TO RUN YOUR BUSINESS</h2>
            <div class="pad-top"></div>
            <div class="row">
                <div class="benefits col-md-4 col-sm-6 col-xs-12">    
                    <div class="item clearfix">                            
                        <div class="icon col-md-3 col-xs-12 text-center">
                            <i class="fa fa-truck"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">ROUTES OPTIMIZED</h3>
                            <p class="desc">Optimized pool routes make the best use of your resources. Cut costs, streamline your operation, improve customer service levels, reduce CO2 emissions .</p>
                        </div><!--//content-->                            
                    </div><!--//item-->
                    <div class="item clearfix">
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-file-text-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">Contracts &amp; Documents</h3>
                            <p class="desc">Save and access frequently used customer contracts, documents. Manager internal HR & onboarding paperwork. Access  via our mobile App.</p>
                        </div><!--//content-->
                    </div><!--//item-->
                </div> 

                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 
                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-clock-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">Time Tracking</h3>
                            <p class="desc">Use our Timsheets module to track staff hours, select job code, add note and submit for approval. Time tracking module is vailable in our mobile App.</p>
                        </div><!--//content-->
                    </div><!--//item-->
                    <div class="item clearfix">
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-file-pdf-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">Powerful Reporting</h3>
                            <p class="desc">Pool results generated by various filers. Reports by date range or by customer. Exporting to PDF, .CSV or Excel  or to your cloud storage account for archive.</p>
                        </div><!--//content-->
                    </div><!--//item-->

                </div> 

                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 

                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-comments-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">Team Communication </h3>
                            <p class="desc">Feature for Internal communications for teams. Email, IM, SMS and push notifications are available to communication with the team.</p>
                        </div><!--//content-->
                    </div><!--//item-->

                    <div class="item clearfix">                            
                        <div class="icon col-md-3 col-xs-12 text-center">
                            <i class="fa fa-share-alt-square"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">QuickBooks Integration</h3>
                            <p class="desc">Easily integrate with  Quickbooks. Sync invoices and transactions with QuickBooks with just a few clicks.Export data to CSV for custom needs.</p>
                        </div><!--//content-->                            
                    </div><!--//item-->

                </div>                                       
            </div><!--//row-->
        </div><!--//container-->
         <div class="container">
            <div class="row">
                <div class="benefits col-md-4 col-sm-6 col-xs-12">    
                    <div class="item clearfix">                            
                        <div class="icon col-md-3 col-xs-12 text-center">
                            <i class="fa fa-tachometer"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">Dashboard & Reports</h3>
                            <p class="desc">Email, attachments activity reports are based on 100% real-time and accurate data.</p>
                        </div><!--//content-->                            
                    </div><!--//item-->
                   
                </div> 

                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 
                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-users"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">Team Access</h3>
                            <p class="desc">Setup your team members separate logins to operate the account. Notifications can be setup individually.</p>
                        </div><!--//content-->
                    </div><!--//item-->
                    
                </div> 

                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 

                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-bell-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">Notifications</h3>
                            <p class="desc">Notifications via SMS, Evernote, Trello and email. Be on the top of your projects; know when your documents arrive!!</p>
                        </div><!--//content-->
                    </div><!--//item-->

                                                    
                </div>                                       
            </div><!--//row-->
        </div><!--//container-->
        <div class="pad-top"></div>

        <div class="container">
            <h2 class="title text-center bck">LEAD GENERATION AND LOCAL MARKETING</h2>
            <div class="pad-top"></div>
            <div class="row">
                <div class="benefits col-md-4 col-sm-6 col-xs-12">    
                    <div class="item clearfix">                            
                        <div class="icon col-md-3 col-xs-12 text-center">
                            <i class="fa fa-folder-open-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">LEADS VIA MAPS</h3>
                            <p class="desc">Turn neighbors of your existing Clients into Leads directly from the Google maps. Targeted local lead generation will results in long termm ROI as the leads are converted to Clients.</p>
                        </div><!--//content-->                            
                    </div><!--//item-->
                    
                </div> 
                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 
                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-upload"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">DIRECT MAIL</h3>
                            <p class="desc">On-demand direct mail campaign for postcards available from your account to capture additional leads or clients. Feature is a big time saver as postcards are printed and mailed directly.</p>
                        </div><!--//content-->
                    </div><!--//item-->
                    
                </div> 
                <div class="benefits col-md-4 col-sm-6 col-xs-12"> 
                    <div class="item clearfix">                            
                        <div class="icon col-md-3  col-xs-12 text-center">
                            <i class="fa fa-bell-o"></i>
                        </div><!--//icon-->
                        <div class="content col-md-9 col-xs-12">
                            <h3 class="title">LOCAL ADS & ANALYTICS</h3>
                            <p class="desc">Manage local CraigsList  and other media ads. Monitor response and ROI using our Analytic module that is availbale from your account. Spend AD dollars wisely and plan your campaigns.</p>
                        </div><!--//content-->
                    </div><!--//item-->

                </div>                                       
            </div><!--//row-->
        </div><!--//container-->   
    </section>
    <!-- ******VIDEO****** --> 
    <section id="video" class="video section">
        <div class="container">
            <br><br>
            <p class="summary"><!--Mobile APP (IOS & Android) for your mobile workforce.--><br/><br/></p>
            <div class="control text-center">

                <div align="center"><h2 class="title text-center bck" style="color:#333;font-family: 'PT Sans Caption';font-size:36px;text-shadow:none;" align="center">Get organized and win more customers</h2></div>


                <div class="control text-center">
                    <br>	<br>
                    <button type="button" class="play-trigger" data-toggle="modal" data-target="#tour-video"><img src="assets/video.png" class="img-responsive"></button>
                    <p style="color:#333;margin-top: -10px;">Overview | Video</p>

                    <!-- Video Modal -->
                    <div class="modal modal-video" id="tour-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 id="videoModalLabel" class="modal-title">Video Tour</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="video-container">
                                        <iframe src="//fast.wistia.net/embed/iframe/qhppubedyj" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
                                    </div><!--//video-container-->
                                </div><!--//modal-body-->
                            </div><!--//modal-content-->
                        </div><!--//modal-dialog-->
                    </div><!--//modal-->                    
                </div>                  
            </div>
            <!--//control-->
        </div>
    </section><!--//video-->
    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center bck" style="text-transform:uppercase;">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>What is PoolPath solution?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                PoolPath Inc provides solution to automatically organize your customer files and documents
                                in the cloud storage folders. You setup email-folder pair and share email and start saving files in your folders. Our solution has strong notification support to get you on top of
                                things to complete your projects in time. Our solutions is used in many verticals including Real Estate, Media,
                                Law, Tax/Accounting, Sales/Procurement and Education.
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>How can we use PoolPath solution?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                PoolPath usage scenarios are many, but here are few examples:
                                <ul>
                                    <li>Provide configured email to your cutomsers for each project and start organize all files in one designated folder. For larger files your customers can use PoolPath generated URL to upload.</li>
                                    <li>Use your existing email, configure PoolPath advance rules to direct them into appropriate project folders. We can help with cc and Bcc options with your current email provider.</li>
                                    <li>Use your scanner or multifunction printer "scan to email” function send your
                                        documents to designated cloud storage folder.</li>
                                    <li>Use our Time window acceptance feature to designate Start/End time(s) to accept documents into your project folder. This feature is used by many professionals in procurement and educational setttings.</li>
                                </ul> 
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>Which methods of payment do you accept?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                                We accept Visa, MasterCard, American Express, JCB, Discover, and Diners Club. We do accept international credit cards.
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Can PoolPath be used outside US?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                Yes. Users of cloud storage folders whether US based or International can take advantag of our serices. Our SMS notifications are available in most contries. 
                            </div>
                        </div>
                    </div><!--//panel--> 
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>Can we sign up for free trial?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body">
                                Yes. We provide the 30-day free trial period to give our users the chance to try out the full
                                features. We will only charge your credit card after the trial has ended.

                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i>Is there a filesize limit? I have a file bigger files that I recieve</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq6">
                            <div class="panel-body">
                                Yes. Using emails, the file size is limited to your email service provider typically 25MB or
                                50MB per attachment. For bigger file use our URL link provided to upload.
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i>Do you store and forward attachments or documents?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                                NO, we do not store any attachments or documents in our system. All attachments are directed to appropriate folders directly in real time.
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-plus-square"></i>Can I cancel my account at any time?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Yes. You can cancel your account at any time without penalty. If you subscribed with
                                yearly payment, you will be credited pro-rated refund. The "delete account" button is under "Account" section.
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div><!--//row-->

        </div><!--//container-->        
    </section>
