<div class="client_index">
	<div class="main_container">
		<div>
			<%=render "home/work_item_side_bar" %>
			<div id="settings_area"> 
				<div class="category-form">
					<%= render "timesheets/category"%>
				</div>
			</div>
		</div>
	</div>
</div>