<div class="client_index">
	<div class="main_container">
		<%= render "clients/error_message_and_flash" %>
		<h3 class="font1-title">Editing classified</h3>

		<%= render 'form' %>

		<%= link_to 'Show', @classified,:class=>"button_new_create save-new-btn1 show-btn"  %> 
		<%#= link_to 'Back', classifieds_path,:class=>"model_cancel_button",:style=>"float: left; margin-left: 10px;"%>
	</div>
</div>		
