<div id="app_wrapper">
  <div class="client_index">
    <div class="main_container">
      <div style="height: auto;">
        <div>
          <%=render "home/work_item_side_bar" %>
          <div id="settings_area">
            <b><h1 class="title2-font"> Pool service Setting</h1></b>
            <%=render "pool_spa_service"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
