<div id="app_wrapper">
  <div class="client_index">
    <div class="main_container">
      <div id="content" style="height: auto;">
        <div class="padding">
          <%=render "home/work_item_side_bar" %>
          <div id="settings_area">
          	<div class="service-plan">
          		<%= render "pool_services/service_plan"%>
          	</div>
          </div>	
        </div>
      </div>
    </div>
  </div>
</div>