#log {
    width: 466px;
    height: 25px;
    background: #404040;
    padding: 10px;
    /*margin-left: -243px;*/
    margin: 25px auto 0 auto;
    border: 1px solid #d4d4d4;
    text-decoration: none;
    font:18px/normal sans-serif;
    color: white;
    white-space: nowrap;
    outline: none;
    background-color: #404040;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#404040));
    background-image: -moz-linear-gradient(#000, #404040);
    background-image: -o-linear-gradient(#000, #404040);
    background-image: linear-gradient(#000, #404040);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 25px;
    border-radius: 5px;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

#people {
    position:fixed;
    bottom:0px;
    right: 0px;
    height:100%;
    width:200px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Helvetica','Arial';
    text-align: left;
    background-color:#ee0000 !important;
    border:none !important;
    overflow: auto;
    overflow-x: hidden;

}

#people li {
    position:relative;
    width: 100%;
    display:block;
    color:#eee !important;
    background-color:#ff0000!important;
    border:solid 1px #ee0000 !important;
    padding: 0.5em 0 0.5em 1em;
    background: #f7f2ea;
    cursor: pointer;
}

#people li:HOVER {
    color: #fff;
    background-color:#dd0000!important;
}

#people li:ACTIVE {
    color: #fff;
    background-color:#C00 !important;
}






