<!-- <h1>Listing fuels</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Date</th>
      <th>Odometer</th>
      <th>Mark as void</th>
      <th>Price</th>
      <th>Fuel type</th>
      <th>Vandor name</th>
      <th>Reference</th>
      <th>Mark as expense</th>
      <th>Partial fuel up</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @fuels.each do |fuel| %>
      <tr>
        <td><%#= fuel.vehicle_id %></td>
        <td><%#= fuel.odometer %></td>
        <td><%#= fuel.mark_as_void %></td>
        <td><%#= fuel.price %></td>
        <td><%#= fuel.fuel_type %></td>
        <td><%#= fuel.vandor_name %></td>
        <td><%#= fuel.reference %></td>
        <td><%#= fuel.mark_as_expense %></td>
        <td><%#= fuel.partial_fuel_up %></td>
        <td><%#= fuel.comment %></td>
        <td><%#= link_to 'Show', fuel %></td>
        <td><%#= link_to 'Edit', edit_fuel_path(fuel) %></td>
        <td><%#= link_to 'Destroy', fuel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% #end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Fuel', new_fuel_path %>
 -->
 <%= render "index" , :locals=>{:@fuel=> @fuels}%>