<div class="modal fade" id="information-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header new-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title" id="myModalLabel">Information</h4>
      </div>
      <div class="modal-body">

          <i>Please Insert the Information, Your Information is save with Us.</i> </br></br>
            <div class="row text-right">
             <button type="button" class="model_cancel_button" data-dismiss="modal">CANCEL</button>
            </div>
          
      </div>
    </div>
  </div>
</div>
